* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e9eef5;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    padding: 30px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.profile-card{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: unset;
    justify-content: space-between;
    gap: 20px;
    padding: 30px;
    border-radius: 16px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.0);
    top: 20px;             
    right: 20px; 
}

.profile-image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
}

h1 {
    font-size: 32px;
    margin-bottom: 8px;
    color: #000000;;
}

h2 {
    font-size: 20px;
    color: #000000;
    margin-bottom: 15px;
}

.description {
    max-width: 600px;
    margin: 0 auto 20px auto;
    line-height: 1.6;
}

.content-card {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 16px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.content-card h3 {
    color: #000000;
    margin-bottom: 15px;
    font-size: 24px;
    border-bottom: 2px solid #000000;
    padding-bottom: 8px;
}

.content-card p {
    margin-bottom: 10px;
    line-height: 1.6;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

.project {
    background-color: #f1f5f9;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.project h4 {
    color: #000000;
    margin-bottom: 8px;
}

@media (max-width: 600px) {
    body {
        padding: 15px;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 18px;
    }

    .profile-card,
    .content-card {
        padding: 20px;
    }
}
.content-card h3 {
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    font-size: 24px;
    border-bottom: 2px solid rgb(0, 0, 0) ;
    padding-bottom:15px ;
}
.content-card h4 {
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
    font-size: 21px;
    border-bottom: 2px solid rgb(0, 0, 0) ;
    padding-bottom:8px ;

}
.rodape-navegacao {
    text-align: center;
    padding: 40px 0; /* Dá um espaço no final da página */
}

.botao-proxima {
    display: inline-flex;
    align-items: center;
    gap: 10px; /* Espaço entre o texto e a seta */
    padding: 12px 24px;
    background-color: #007BFF; /* Cor azul do botão */
    color: white;
    text-decoration: none; /* Remove o sublinhado do link */
    border-radius: 30px; /* Deixa as bordas arredondadas */
    font-family: Arial, sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.botao-proxima:hover {
    background-color: #0056b3; 
    transform: translateX(5px); 
}

.seta {
    font-size: 1.2rem;
}